:root {
    --cor_btn_get_started: rgba(255, 68, 0, 0.884);
    --cor_hover_btn_get_started: rgba(250, 104, 51, 0.884);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /*justify-content: center;*/
    /*background-image: url(../images/bg-tablet-pattern.svg);*/
    /*background-image: url(../images/bg-simplify-section-desktop.svg);*/
    background-size: cover;
    background-position: right center;
    background-repeat: inherit;
    /*height: 400px;8/
    /*width: 100%;*/
    margin-top: 3rem;

    width: 100%; /*largura de 100% da página*/
    height: 100vh; /*altura total da página*/
    /*padding: 2rem;*/
    /*text-align: center;*/

    background-color: #eeeaea1a;

}



/*Imagem de fundo da main*/
.img_fundo_page {
    /*background-image: url('../images/bg-simplify-section-desktop.svg');*/
    /*background-color: var(--cor_hover_btn_get_started);
    /*background-position: right -200px top -150px; /* Ajuste conforme necessário */
    /*background-repeat: no-repeat;
    background-position: 12.5rem calc(90%); /*200px*/
    /*background-size: contain;
    background-size: auto, 100%;
    width: 100%; /* Adicione uma largura */
    /*height: 15.62rem; /* Defina uma altura adequada */

}

      /*HEADER*/

/*HEADER com logo, menu e botão*/
header {
    display: flex;
    flex-direction: row;

    /*height: 2rem;*/
    width: 100%;
    /*margin: 2rem;*/
    /*padding-left: 3rem;*/
    /*padding-right: 3rem;*/
    justify-content: center;

}

/*Logo*/
.imagem_logo {
    width: 8em;
    height: 2em;
    float: left;
    font-size: 1rem;


}

/*Div menu com a nav, ul, li, a */
.div_menu {


}

/*nav*/
.itens_menu {
    display: flex;
    justify-content: center;

}

ul, li, a {
    cursor: pointer;
    text-decoration: none; /*tirar sublinhado*/
    list-style-type: none; /*tirar o budgets*/
    gap: .6rem; /*espaço entre linhas*/
    /*letter-spacing: 1rem;*/
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;


}

ul {
    margin-left: 5rem;

}


li {
    padding-left: 2rem;

}


a:hover {
    color: rgba(36, 33, 33, 0.589);

}

/*elemento pai*/
.ul_menu {
    justify-content: center;
    display: flex;

}

/*Div botão header*/
.div_btn_header {
    margin-left: 5rem;


}

.btn_header{
    color: white;
    background-color: var(--cor_btn_get_started);
    float: right;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder; 
    margin-bottom: 3rem;
    

}

.btn_header:hover {
    background-color: var(--cor_hover_btn_get_started);

}

      /*1ª parte CORPO DO SITE*/

/*Div corpo do site*/
.div_corpo_site {
    /*display: flex;*/
    /*justify-content: center;*/
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 3rem;
    margin-top: 3rem;

    display: grid;    
    grid-template-columns: repeat(2, minmax(0, 1fr));

    /*grid-template-rows: repeat(3, auto); /* Limita a 3 linhas */
    /*overflow: hidden; /* Oculta o conteúdo que excede a altura */


}



/*Article com o h1, p e botão*/
.article_corpo_site {
    margin-right: 1.5rem;
    


}

/*Título do article 1ª parte do corpo do site*/
/*Bring everyone together to build...*/
h1 {
    font-size: 3.5rem;
    line-height: 1; /*altura da caixa*/


}

/*Manage makes it simple for...*/
.p_do_h1 {
    font-size: 1.20rem;
    line-height: 1.80rem;
    /*color: #a8a4a4;*/
    color: gray;
    margin-bottom: 1.5rem;
    max-width: 21rem;
 

}

.btn_h1 {
    color: white;
    background-color: var(--cor_btn_get_started);
    float: left;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder;

}

.btn_h1:hover {
    background-color: var(--cor_hover_btn_get_started);


}

/*Article com 3 imagens com %, gráfico e disco*/
.article_imagem_corpo {
    margin-left: 1.5rem;


}

/*Imagem com 3*/
.img_3img_corpo {
    max-width: 110%;
    
}



      /*2ª parte CORPO DO SITE*/

/*2ª corpo do site*/
.div_corpo2_site {
    margin-left: 10rem;
    margin-right: 10rem;
    gap: 3rem;
    margin-top: 6rem;

    display: grid;    
    grid-template-columns: repeat(2, minmax(0, 1fr));

}

/*Article com o h2 e texto*/
.article_corpo2 {
    margin-right: 1.5rem;


}

/*What’s different about Manage?*/
h2 {
    font-size: 2.5rem;
    line-height: 1; /*altura da caixa*/
    margin-bottom: 1.5rem;


}

/*Parágrafo do Article corpo 2*/
.p_article_corpo2 {
    font-size: 1.20rem;
    line-height: 1.80rem;
    /*color: #a8a4a4;*/
    color: gray;
    margin-bottom: 1.5rem;
    max-width: 21rem;

}

/*Article com 3 ítens de textos*/
.article_3itens_corpo2 {
    margin-left: 3rem;



}

/*Span com os números de cada item*/
.numero_item_article_corpo2 {
    border-radius: 30px;
    background-color: var(--cor_hover_btn_get_started);

    font-size: 1rem;
    color: white;
    font-weight: bold;

    /*padding: 1rem;*/

    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
   
   
}

/*Título de cada número*/
h3 {
    margin-left: 5rem;
    margin-top: -1.2rem;



}

/*Parágrafo de cada item*/
.p_item_article_corpo2 {
    font-size: 1.20rem;
    line-height: 1.80rem;
    /*color: #a8a4a4;*/
    color: gray;
    margin-left: 5rem;
    margin-bottom: 1.5rem;
    max-width: 25rem;
    text-align: left;


}



      /*3ª parte CORPO DO SITE com carrossel*/

/*h2 com Título da 3ª parte corpo do site*/
.h2_titulo_corpo3 {
    text-align: center;
    font-size: 2.5rem;
    margin-top: 6rem

}


/*Cards*/
/*Section com todos os cards*/
.section_cards {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /*pra dividir em 4 seções*/
    
    margin: 3rem;
    margin-top: 3rem;

    gap: 1rem;

}

/*Div com os cards*/
.div_card {
    /*border: 1px solid #ccc;*/
    padding: 1rem;
    text-align: center;
    /*background-color: #f0eded49;*/
    background-color: #f0eded65;    
    align-items: center;

    

}

/*Imagem de cada pessoa no card*/
.img_card {
    border-radius: 50%;
    justify-content: center;
    width: 4rem;
    margin-top: -3rem;

}

/*Nome de cada pessoa do card*/
h4 {
    font-weight: bolder;
    margin-top: 1rem;

}

/*Texto da descrição de cada pessoa*/
.descricao_img_card {
    margin-top: 1rem;
    color: #8f8b8b;


}



/*Div com o botão da 3ª parte corpo do site*/
.div_btn_corpo3 {
    margin-top: -3rem;
    margin-bottom: 6rem;
    text-align: center;


}

/*Botão da 3ª parte corpo do site*/
.btn_corpo3 {
    color: white;
    background-color: var(--cor_btn_get_started);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder;

}

.btn_corpo3:hover {
    background-color: var(--cor_hover_btn_get_started);


}



      /*FOOTER*/

footer {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
    
        
}


/*Footer laranja*/

/*div laranja com um botão*/
.rodape_laranja {
    background-color: var(--cor_btn_get_started);
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    padding: 5rem;

}

/*Imagem de fundo rodapé laranja*/
.img_fundo_laranja {
    background-image: url('../images/bg-simplify-section-desktop.svg');
    background-color: var(--cor_hover_btn_get_started);
    /*background-position: right -200px top -150px; /* Ajuste conforme necessário */
    background-repeat: no-repeat;
    background-position: 12.5rem calc(90%); /*200px*/
    background-size: contain;
    background-size: auto, 100%;
    width: 100%; /* Adicione uma largura */
    height: 15.62rem; /* Defina uma altura adequada */

}

/*Simplify how your team works today*/
.p_rodape_laranja {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 3rem;

}

.btn_rodape_laranja {
    float: right;
    color: var(--cor_btn_get_started);
    background-color: white;
    border: none;
    border-radius: 30px;

    cursor: pointer;
    font-size: 1rem;
    /*letter-spacing: .1rem;*/
    font-weight: bolder;

    padding-top: .8rem;
    padding-bottom: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;

   
    margin-top: -5rem;
    /*margin-right: 6rem;*/
    margin-right: 4rem;
    

}

.btn_rodape_laranja:hover {
    background-color: rgb(248, 243, 234);
}


/*Footer preto*/

/*Div rodapé preto*/
.rodape_preto {
    /*background-color: rgba(0, 0, 0, 0.863);*/
    background-color: rgba(17, 24, 39, 0.993);

    display: flex;
    flex-direction: column;

    font-size: 1rem;
    line-height: 1rem;

    

}

.section_rodape_preto{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr)); /*pra dividir em 4 seções*/
    
    margin: 3rem;
    margin-top: 3rem;


}

/*Nome da logo no rodapé laranja*/
.nome_logo_rodape {
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    letter-spacing: .1rem;
    font-weight: bolder;


    /*width: 8em;
    height: 2em;*/

}

/*4 pontos no nome da logo*/
.quatro_pontos{
    color: var(--cor_btn_get_started);
    font-size: 2rem;
    letter-spacing: .1rem;
    font-weight: bolder;



}

/*Article com o 1º bloco de links*/
.article_rodape_preto {
    /*margin-left: 8rem;*/
    margin-top: 1rem;

    

}

/*Links do rodapé preto*/
.link_rodape_preto {
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: .1rem;
    
}

.link_rodape_preto:hover {
    color: var(--cor_btn_get_started);

}

/*Article com o 2º bloco de links */
.article_rodape_preto2 {
    margin-top: 1rem;

   

}

/*Article com o bloco do input e btn */
.article_rodape_preto3 {

}


/*Input do rodape preto*/
.input_rodape_preto {
    border-radius: 30px;
    border: none;
    font-weight: 200;
    letter-spacing: .1rem;

    padding: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-left: -4rem;
    margin-bottom: 1rem;

     

}

.placeholder_input {
    font-size: .8rem;
    opacity: 1;
    color: #ccc;

}

.placeholder_input:hover {
    outline: 0cap;
}


.btn_rodape_preto {
    color: white;
    background-color: var(--cor_btn_get_started);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;

    padding: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-weight: 200;
    letter-spacing: .1rem;

    margin-left: .4rem;

}

.btn_rodape_preto:hover {
    background-color: var(--cor_hover_btn_get_started);


}

/*Parágrafo pra aparecer msgm com a função no JS*/
.p_msgm_email_rodape_preto {
    margin-left: -5rem;



}

.p_copyright {
    color: #ffffff5d;
    margin-top: 2rem;
    font-size: .9rem;
}

/*Div com os ícones das redes sociais*/
.div_redes_sociais {
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 3rem;
    font-size: 1rem;
    letter-spacing: .4rem;
    

}

/*Ícones de redes sociais*/
.icon_rodape {
    font-size: 1rem;
    cursor: pointer;
    
    
}

.icon_rodape:hover {
    background-color: var(--cor_btn_get_started);
    border-radius: 50%;
    border: 1px solid var(--cor_btn_get_started);


}




























































































/*Esse trabalho foi feito por Luciene Lima*/