:root {
    --cor_btn_get_started: rgba(255, 68, 0, 0.884);
    --cor_hover_btn_get_started: rgba(250, 104, 51, 0.884);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    /*justify-content: center;*/
    background-image: url(../images/bg-tablet-pattern.svg);
    background-size: cover;
    background-position: right center;
    background-repeat: inherit;
    /*height: 400px;8/
    /*width: 100%;*/
    margin: 0;

}

/*HEADER com logo, menu e botão*/
header {
    display: flex;
    flex-direction: row;

    height: 2rem;
    width: 100%;
    margin: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: center;

}

/*Logo*/
.imagem_logo {
    width: 8em;
    height: 2em;
    float: left;
    font-size: 1rem;


}

/*Div menu com a nav, ul, li, a */
.div_menu {


}

/*nav*/
.itens_menu {
    display: flex;
    justify-content: center;

}

ul, li, a {
    cursor: pointer;
    text-decoration: none; /*tirar sublinhado*/
    list-style-type: none; /*tirar o budgets*/
    gap: .6rem; /*espaço entre linhas*/
    /*letter-spacing: 1rem;*/
    padding-bottom: 1rem;
    font-size: 1.2rem;
    color: black;
    font-weight: bolder;


}

ul {
    margin-left: 5rem;

}


li {
    padding-left: 2rem;

}


a:hover {
    color: rgba(36, 33, 33, 0.589);

}

/*elemento pai*/
.ul_menu {
    justify-content: center;
    display: flex;

}

/*Div botão header*/
.div_btn_header {
    margin-left: 5rem;


}

.btn_header{
    color: white;
    background-color: var(--cor_btn_get_started);
    float: right;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder; 
    

}

.btn_header:hover {
    background-color: var(--cor_hover_btn_get_started);

}

/*CORPO DO SITE*/

/*Div corpo do site*/
.div_corpo_site {
    display: flex;


}

/*Article com o h1, p e botão*/
.article_corpo_site {

}

h1 {


}

.p_do_h1 {


}

.btn_h1 {
    color: white;
    background-color: var(--cor_btn_get_started);
    float: left;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder;

}

.btn_h1:hover {
    background-color: var(--cor_hover_btn_get_started);


}


/*FOOTER*/
footer {
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;

    
}

/*div laranja com um botão*/
.rodape_laranja {
    background-color: var(--cor_btn_get_started);
    /*padding-left: 2rem;*/
    /*padding-right: 2rem;*/
    padding: 2.5rem;

}

/*Simplify how your team works today*/
.p_rodape_laranja {
    color: white;
    font-size: 3rem;
    font-weight: bolder;
    margin-left: 6rem;

}

.btn_rodape_laranja {
    float: right;
    color: var(--cor_btn_get_started);
    background-color: white;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    padding: 1rem;
    cursor: pointer;
    letter-spacing: .1rem;
    font-weight: bolder;
    margin-top: -6rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-right: 6rem;
    

}

.btn_rodape_laranja {
    /*background-color: wheat;*/


}

/*Div rodapé preto*/
.rodape_preto {
    /*background-color: rgba(0, 0, 0, 0.863);*/
    background-color: rgba(17, 24, 39, 0.993);

    display: flex;
    flex-direction: column;

    font-size: 1rem;
    line-height: 2rem;

    

}

.section_rodape_preto{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    margin: 3rem;
    margin-top: 3rem;


}

.imagem_logo_rodape {
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 2rem;
    /*color: white;*/

    width: 8em;
    height: 2em;

}

/*Article com o 1º bloco de links*/
.article_rodape_preto {
    /*margin-left: 8rem;*/

    
    

}

/*Links do rodapé preto*/
.link_rodape_preto {
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 200;
    letter-spacing: .1rem;
    
}

.link_rodape_preto:hover {
    color: var(--cor_btn_get_started);

}

/*Article com o 2º bloco de links */
.article_rodape_preto2 {
   

}

/*Article com o bloco do input e btn */
.article_rodape_preto3 {

}


/*Input do rodape preto*/
.input_rodape_preto {
    border-radius: 30px;
    border: none;
    font-weight: 200;
    letter-spacing: .1rem;

    padding: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;

    margin-left: -4rem;
     

}

.placeholder_input {
    font-size: .8rem;
    opacity: 1;
    color: #ccc;

}

.placeholder_input:hover {
    outline: 0cap;
}


.btn_rodape_preto {
    color: white;
    background-color: var(--cor_btn_get_started);
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;

    padding: .8rem;
    padding-left: 2rem;
    padding-right: 2rem;

    font-weight: 200;
    letter-spacing: .1rem;

}

.btn_rodape_preto:hover {
    background-color: var(--cor_hover_btn_get_started);


}

.p_copyright {
    color: #ffffff5d;
    margin-top: 2rem;
    font-size: .9rem;
}

/*Div com os ícones das redes sociais*/
.div_redes_sociais {
    margin-left: 5rem;
    margin-right: 5rem;
    gap: 3rem;
    font-size: 1rem;
    letter-spacing: .2rem;
    

}

/*Ícones de redes sociais*/
.icon_rodape {
    font-size: 1rem;
    cursor: pointer;
    
}

.icon_rodape:hover {
    background-color: var(--cor_btn_get_started);
    border-radius: 50%;
    border: 1px solid var(--cor_btn_get_started);


}

