/* /*RESPONSIVIDADE  telas até 1115px**/
@media screen and (max-width: 1115px) {


}


/*RESPONSIVIDADE TABLET*/

@media screen and (max-width: 820px) {


}



/*RESPONSIVIDADE CELULAR*/

@media screen and (max-width: 400px) {

    :root {
        --cor_btn_get_started: rgba(255, 68, 0, 0.884);
        --cor_hover_btn_get_started: rgba(250, 104, 51, 0.884);
    
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }

    body {
        background-color: #eeeaea1a;


    }

    /*HEADER*/

    header {
        width: auto;


    }

    /*Menu*/
    /*elemento pai*/
   .ul_menu {
    display: none; /*ocultar o menu*/

   }

    
   /*Botão do header*/
   .btn_header {
    display: none; /*ocultar o botão do header*/

   }

    /*Logo*/
    .imagem_logo{
        /*margin: left;*/
        margin-top: -1rem;
        /*margin-left: 5rem;*/
        width: 5rem;
        margin-left: -12rem;
        height: auto;

    }

    
      /*1ª parte CORPO DO SITE*/
    
    .div_corpo_site {
        
        /*display: grid;*/
        /*display: block;*/

        grid-template-columns: 1fr; /*layout de coluna única*/
        grid-template-rows: auto; /*ajuste de linha automático*/

        /*justify-content: center;*/
        /*align-items: center;*/
        text-align: center;

        margin: 1rem;
        margin-top: 3rem;
        

    }

    /*Article com o h1, p e botão*/
    .article_corpo_site{
        grid-template-rows: repeat(1, 1fr);
        margin: 1.2rem;

    }

    /*Título do article 1ª parte do corpo do site*/
    /*Bring everyone together to build...*/
    h1 {
        font-size: 2rem;       
        text-align: center;
        margin-top: -2rem;


    }

    /*Manage makes it simple for...*/
    .p_do_h1 {
        font-size: 1rem;
        text-align: justify;
        margin: 2rem;        

    }

    .btn_h1 {
        font-size: .8rem;
        background-color: var(--cor_hover_btn_get_started);
        padding: .7rem;
        margin-bottom: 2rem;
        

    }

    .btn_h1:hover {
        background-color: none; /* Remove a cor de fundo ao passar com o mouse*/


    }

    /*Article com 3 imagens com %, gráfico e disco*/
   .article_imagem_corpo {
       order: -1; /*Mover a img acima do texto */
       


   }

   /*Imagem com 3*/
   .img_3img_corpo {
        max-width: 18rem;
        justify-content: center;
    

   }



         /*2ª parte CORPO DO SITE*/

    /*2ª corpo do site*/
    .div_corpo2_site {
        grid-template-columns: 1fr; /*layout de coluna única*/
        grid-template-rows: auto; /*ajuste de linha automático*/

        text-align: center;

        margin: 1rem;

    }

    /*Article com o h2 e texto*/
    .article_corpo2 {


    }
   
    /*What’s different about Manage?*/
    h2 {
        font-size: 1.6rem;       
        text-align: center;

    }

    /*Parágrafo do Article corpo 2*/
    .p_article_corpo2 {
        text-align: center;
        font-size: .9rem;
        margin: 2rem;
        margin-bottom: 1rem;


    }

    /*Article com 3 ítens de textos*/
    .article_3itens_corpo2 {
        margin: 0rem;
        

    }

    /*Div com o número do item e o título*/
    .div_item_numero_titulo_corpo2 {
        display: flex;

        
    }

    /*Span com os números de cada item*/
    .numero_item_article_corpo2 {
        /*float: left;*/
        padding-top: .58rem;
        padding-bottom: .7rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-size: .8rem;


    }

    /*Título de cada número*/
    h3 {
        font-size: 1.1rem;
        text-align: center;
        align-items: center;


        /*margin: 2rem;*/
        /*margin-bottom: -0.5rem;*/
        margin-top: 0.3rem;
        margin-left: -1rem;

        border: 1px solid var(--cor_hover_btn_get_started);
        border-radius: 0;
        /*border-width: 0;*/
        box-sizing: border-box; /* Inclui a borda na largura total do elemento */


        /*Faz o texto ocupar toda a largura do container*/
        width: 100%;

        background-color: rgba(250, 104, 51, 0.384);
        border: none;
        opacity: 0.8;

        /*padding: .18rem;*/
        /*padding-top: 1rem;*/
        /*padding-left: -1rem;*/

       

        
    }

    /*Parágrafo de cada item*/
    .p_item_article_corpo2 {
        text-align: left;
        font-size: .9rem;
        margin: 0rem;
        margin-bottom: 1rem;

    }

          /*3ª parte CORPO DO SITE com carrossel*/

    /*h2 com Título da 3ª parte corpo do site*/
    .h2_titulo_corpo3 {
        font-size: 1.6rem;       
        text-align: center;


    }

     /*Cards*/
     /*Section com todos os cards*/
    .section_cards {
        display: flex;
        /*Pra ocultar elementos fora da área visível*/
        overflow: hidden;
        position: relative;
        width: 80%;
        margin: auto;


    }

    /*Div com os cards*/
   .div_card {
    text-align: center;
    padding: 20px;
    /*Pra cada card ocupar 100% da largura*/
    
    flex: 0 0 100%;
    transition: transform 0.6s ease;



   }

   /*Navegação*/
   .div_carrossel_nav {
    

   }

   


   /*Imagem de cada pessoa no card*/
   .img_card {


   }

   /*Nome de cada pessoa do card*/
   h4  {


   }

   /*Texto da descrição de cada pessoa*/
   .descricao_img_card {


   }

   

   /*Div com o botão da 3ª parte corpo do site*/
   .div_btn_corpo3 {


   }

   /*Botão da 3ª parte corpo do site*/
   .btn_corpo3 {


   }

   .btn_corpo3:hover {


   }


         /*FOOTER*/

    footer {


    }


    /*Footer laranja*/

    /*div laranja com um botão*/
    .rodape_laranja {


    }

    /*Imagem de fundo rodapé laranja*/
    .img_fundo_laranja {


    }

    /*Simplify how your team works today*/
    .p_rodape_laranja {


    }

    .btn_rodape_laranja {

    }

    .btn_rodape_laranja:hover {


    }

    /*Footer preto*/

   /*Div rodapé preto*/
   .rodape_preto {


   }

   .section_rodape_preto {


   }

   /*Nome da logo no rodapé laranja*/
   .nome_logo_rodape {


   }
 
   /*4 pontos no nome da logo*/
   .quatro_pontos {


   }

   /*Article com o 1º bloco de links*/
   .article_rodape_preto {


   }

   /*Links do rodapé preto*/
   .link_rodape_preto {


   }

   .link_rodape_preto:hover {


   }

   /*Article com o 2º bloco de links */
  .article_rodape_preto2 {


  }

  /*Article com o bloco do input e btn */
  .article_rodape_preto3 {


  }

  /*Input do rodape preto*/
  .input_rodape_preto {


  }

  .placeholder_input {


  }

  .placeholder_input:hover {


  }

  .btn_rodape_preto {


  }

  .btn_rodape_preto:hover {


  }

  /*Parágrafo pra aparecer msgm com a função no JS*/
  .p_msgm_email_rodape_preto {


  }

  .p_copyright {


  }

  /*Div com os ícones das redes sociais*/
  .div_redes_sociais {


  }

  /*Ícones de redes sociais*/
  .icon_rodape {

  }

  .icon_rodape:hover {

  }

}









































































































































































































/*Esse trabalho foi feito por Luciene Lima*/