/* /*RESPONSIVIDADE  telas até 1115px**/
@media screen and (max-width: 1115px) {


}


/*RESPONSIVIDADE TABLET*/

@media screen and (max-width: 820px) {


}



/*RESPONSIVIDADE CELULAR*/

@media screen and (max-width: 400px) {

    :root {
        --cor_btn_get_started: rgba(255, 68, 0, 0.884);
        --cor_hover_btn_get_started: rgba(250, 104, 51, 0.884);
    
    }
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    
    }

    body {
        background-color: #eeeaea1a;


    }

    /*HEADER*/

    header {
        width: auto;


    }

    /*Menu*/
    /*elemento pai*/
   .ul_menu {
    display: none; /*ocultar o menu*/

   }

    
   /*Botão do header*/
   .btn_header {
    display: none; /*ocultar o botão do header*/

   }

    /*Logo*/
    .imagem_logo{
        /*margin: left;*/
        margin-top: -1rem;
        /*margin-left: 5rem;*/
        width: 5rem;
        margin-left: -12rem;
        height: auto;

    }

    
      /*1ª parte CORPO DO SITE*/
    
    .div_corpo_site {
        
        /*display: grid;*/
        /*display: block;*/

        grid-template-columns: 1fr; /*layout de coluna única*/
        grid-template-rows: auto; /*ajuste de linha automático*/

        /*justify-content: center;*/
        /*align-items: center;*/
        text-align: center;

        margin: 1rem;
        margin-top: 3rem;
        

    }

    /*Article com o h1, p e botão*/
    .article_corpo_site{
        grid-template-rows: repeat(1, 1fr);
        margin: 1.2rem;

    }

    /*Título do article 1ª parte do corpo do site*/
    /*Bring everyone together to build...*/
    h1 {
        font-size: 2rem;       
        text-align: center;
        margin-top: -2rem;


    }

    /*Manage makes it simple for...*/
    .p_do_h1 {
        font-size: 1rem;
        text-align: justify;
        margin: 2rem;        

    }

    .btn_h1 {
        font-size: .8rem;
        background-color: var(--cor_hover_btn_get_started);
        padding: .7rem;
        

    }

    .btn_h1:hover {
        background-color: none; /* Remove a cor de fundo ao passar com o mouse*/


    }

    /*Article com 3 imagens com %, gráfico e disco*/
   .article_imagem_corpo {
       order: -1; /*Mover a img acima do texto */
       


   }

   /*Imagem com 3*/
   .img_3img_corpo {
        max-width: 18rem;
        justify-content: center;
    

   }



         /*2ª parte CORPO DO SITE*/

    /*2ª corpo do site*/
    .div_corpo2_site {
        grid-template-columns: 1fr; /*layout de coluna única*/
        grid-template-rows: auto; /*ajuste de linha automático*/

        text-align: center;

        margin: 1rem;

    }

    /*Article com o h2 e texto*/
    .article_corpo2 {


    }
   
    /*What’s different about Manage?*/
    h2 {
        font-size: 1.6rem;       
        text-align: center;

    }

    /*Parágrafo do Article corpo 2*/
    .p_article_corpo2 {
        text-align: center;
        font-size: .9rem;
        margin: 2rem;


    }

    /*Article com 3 ítens de textos*/
    .article_3itens_corpo2 {
        margin: 1rem;
        

    }

    /*Span com os números de cada item*/
    .numero_item_article_corpo2 {



    }

    /*Título de cada número*/
    h3 {


    }

    /*Parágrafo de cada item*/
    .p_item_article_corpo2 {
        text-align: left;
        font-size: .9rem;
        margin: 0rem;

    }

}









































































































































































































/*Esse trabalho foi feito por Luciene Lima*/